nav{
    background-color: rgba(1, 0, 0, 0.9);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position:fixed;
    left: 39%;
    transform: translateX(40%);
    bottom: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);

}

nav a{
    background-color:transparent;
    padding: 0.2rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.4rem;
}
nav a:hover{
  background-color:aliceblue;  
}

nav a.active{
    background-color: var(--color-bg);
    color: var(--color-white);
}